#!/usr/bin/env bash

## GENERAL
# Change the default shell to Fish
function tofish()
{
    chsh -s /usr/local/bin/fish
}

# Get named var (usage: get "VAR_NAME")
function get()
{
    echo "${!1}"
}

# Create a new directory and enter it
function mk()
{
    mkdir -p "$@" && cd "$@"
}

# Calculator
function calc()
{
    echo "$*" | bc -l;
}

# Source the .bashrc file again
function relaunch()
{
    source ~/.bashrc
}

## OPENING FILES AND FOLDERS

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o()
{
    if [ $# -eq 0 ]; then
        open .;
    else
        open "$@";
    fi;
}

## HELP FOR ALIASES AND FUNCTIONS

# Show all custom defined aliasses.
function showalias()
{
    printf "\n## CUSTOM ALIASES:\n"
    cat ${DOTFILES}/system/.alias | grep '^##\|^alias'
}

# Show all custom defined functions.
function showfunc()
{
    printf "\n## CUSTOM FUNCTIONS:\n"
    cat ${DOTFILES}/system/.functions | grep '^##\|^# \|^function'
}

# Show all custom defined aliases and functions.
function showall()
{
    printf "\n## ALL CUSTOM DEFINED ALIASSES AND FUNCTIONS:\n"
    showalias
    showfunc
}